
@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'MisoRegular';
	src: url('fonts/miso-webfont.eot');
}

@font-face {
	/* This declaration targets everything else */
	font-family: 'MisoRegular';
	src: url(//:) format('no404'), url('fonts/miso-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'MisoBold';
	src: url('fonts/miso-bold-webfont.eot');
}

@font-face {
	/* This declaration targets everything else */
	font-family: 'MisoBold';
	src: url(//:) format('no404'), url('fonts/miso-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

input {
    outline-width:0;
}

body {
    margin:0px;
    width:957px;
    font-family:'MisoRegular';
    position:relative;
}

.light-bg {
    background-color:#f0f0f0;
}

#left-column {
    margin:0px;
    width:169px;
    height:703px;
    padding:16px;
}

#left-content {
    position:relative;
}
#left-content #fizz {
    position:absolute;
    background-image:url('img/app-icon-backdrop.png');
    margin:0 17px;
    width:134px;
    height:96px;
    top:442px;
    color:#fff;
    z-index:10;
}

#left-content #fizz img {
    margin:18px 36px;
    cursor:pointer;
}

#left-content #me {
    position:relative;
}
#left-content #me #profile-pic {
    max-width:48px;
    max-height:48px;
    display:inline-block;
}

#left-content #me #name {
    font-size:16px;
    color:#727272;
    position:absolute;
    top:10;
    margin-left:16px;
}

#left-content #dock {
    position:relative;
    margin-top:16px;
}

#left-content .folder {
    color:#e0e0e0;
    background-image:url('img/dock-item.png');
    margin:0;
    height:46px;
    width:169px;
    z-index:10;
    position:relative;
}

#left-content .folder .icon img {
    display:inline;
}
#left-content .folder .icon {
    margin:0;
    padding-top:1px;
    padding-bottom:4px;
    padding-left:6px;
    display:inline-block;
    height:40px;
    width:40px;
}

#left-content .folder .name {
    margin:0;
    padding-top:2px;
    padding-bottom:3px;
    padding-left:6px;
    display:inline-block;
    height:40px;
    font-size:12px;
    position:absolute;
    top:14px;
    left:64px;
}
#left-content .folder:hover {
    color:#4ec5f6;
    background-position:0px 46px;
    cursor:pointer;
}

#right-column {
    position:absolute;
    right:0px;
}

#center-column {
    width:523px;
    position:absolute;
    left:201px;
    top:41px;
}

#center-column #search-header {
    height:50px;
    padding:17px 24px;
    color:#d4d4d4;
    font-size:14px;
}
#center-column #search-header form {
    margin:0;
    padding:0;
}
#center-column #search-header .item-wrapper {
    display:inline-block;
}
#center-column #search-header .item {
    position:relative;
    height:50px;
    display:inline-block;
}

#center-column #search-header .first-toggle-button {
    padding-left:15px;
}
#center-column #search-header .toggle-button {
    margin:0px 15px;
    width:31px;
    height:36px;
    background-image:url('img/on-off.png');
    background-position:0px 0px;
    cursor:pointer;
}

#center-column #search-header .comment-text {
    color:#d4d4d4;    
    font-size:14px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#center-column #search-header #search-bar {
    background-image:url('img/search-bar.png');
    padding:0 10px;
    height:31px;
    width:172px;
    border:none;
    font-family:'MisoRegular';
    color:#f0f0f0;
    font-size:16px;
    display:inline-block;
}
#center-column #search-header #search-button {
    background-image:url('img/search-button.png');
    height:31px;
    width:57px;
    border:none;
    margin:0;
    padding:9px 0px;
    display:inline-block;
    cursor:pointer;
}
#center-column #search-header .search-bar-active {
    background-position:0px 31px;
}


#center-column #stream {
    padding:40px;
    border-top:1px solid #d4d4d4;
}

#center-column #stream .stream-item {
    
}